footer
  .container
    .footer
      .footer-foot
        .footer-foot-title
          img(src="/assets/images/logo.png" width="50" height="auto").footer-foot-title-logo
          .footer-foot-title-text
            h3
              p Universidad Nacional
              p Experimental del Táchira
        .footer-foot-content
          ul
            li
              a(href="#") Labcomp
            li
              a(href="#") Noticias
            li
              a(href="#") Encuestas
            li
              a(href="#") Administradores
            li
              a(href="#") Reservaciones
      .footer-foot.footer-foot--border
        p.footer-foot-text Copyright (c) 2017. Todos los derechos reservados.
        p.footer-foot-text.footer-foot-text--right San Cristóbal, Estado Táchira, Venezuela. Tel +58 (276) 353 022
