header
  .container
    .header
      .header-topbar
        .header-topbar-links
          ul.header-topbar-links-group
            li
              a(href="#") Acerca de
            li
              a(href="#") Contacto
            li.header-topbar-links-icon
              a(href="#")
                i.icon-twitter-square
            li.header-topbar-links-icon
              a(href="#")
                i.icon-facebook-square
      .header-info
        .header-info-title
          img(src="/assets/images/logo.png" width="75" height="auto").header-info-title-logo
          .header-info-title-text
            h1 Laboratorio de Computación
            h2 Prof. Valerio Wong
        .header-info-content
          .header-info-content-user
            .header-info-content-user-name
              p Prof. Dahyana Nimo
            .header-info-content-user-out
              a(href="#")
                i.icon-power
                span Cerrar sesión
.menu
    .container
      ul
        li#menu-labcomp
          a(href="/labcomp") Labcomp
        li#menu-noticias
          a(href="/noticias") Noticias
        li#menu-encuestas
          a(href="/encuestas") Encuestas
        li#menu-administradores
          a(href="/administradores") Administradores
        li#menu-reservaciones.menu-reservation
          a(href="/reservaciones") Reservaciones
