header
  .container
    .header
      .header-topbar
        .header-topbar-links
          ul.header-topbar-links-group
            li
              a(href="#") Acerca de
            li
              a(href="#") Contacto
            li.header-topbar-links-icon
              a(href="#")
                i.icon-twitter
            li.header-topbar-links-icon
              a(href="#")
                i.icon-facebook
      .header-info
        .header-info-title
          img.header-info-title-logo
          .header-info-title-text
            h1 Laboratorio de Computación
            h2 Prof. Valerio Wong
        .header-info-content
          .header-info-content-user
            .header-info-content-user-name
              p Prof. Dahyana Nimo
            .header-info-content-user-out
              a(href="#") c
                //- i.icon-close
.menu
    .container
      ul
        li
          a(href="#") Labcomp
        li
          a(href="#") Noticias
        li
          a(href="#") Encuestas
        li
          a(href="#") Administradores
        li.menu-reservation
          a(href="#") Reservaciones
