doctype html
html(lang="es")
include ./../../includes/head.pug
body
  .page
    include ./../../includes/header.pug
    section.content
      h3.u-pull-center Página no encontrada
    include ./../../includes/footer.pug
  include ./../../includes/commons.pug
